{% extends "menu.html" %}
{% block content %}

<style>
.left-margin {
	margin-left: 20px;
}
</style>
<!-- Bootstrap CSS -->
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('index')}}">Cradlepoint Reporting</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('list_devices')}}">List Devices</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">System Wide</a>
                    <ul class="dropdown-menu dropdown-menu-dark left-margin" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{url_for('all_time_stats')}}">All time</a></li>
                        <li><a class="dropdown-item" href="{{url_for('system_wide_daily_usage')}}">Daily usage</a></li>
                        <li><a class="dropdown-item" href="{{url_for('all_devices_by_day')}}">All devices by day</a></li>
                    </ul>
                </li>                
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Top 20</a>
                    <ul class="dropdown-menu dropdown-menu-dark left-margin" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{url_for('top_20day')}}">Single day usage</a></li>
                        <li><a class="dropdown-item" href="{{url_for('top_20alltime')}}">All time usage</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Device Stats</a>
                    <ul class="dropdown-menu dropdown-menu-dark left-margin" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{url_for('show_device_summary')}}">Show device summary</a></li>
                        <li><a class="dropdown-item" href="{{url_for('show_device_usage')}}">Show device data usage</a></li>
                    </ul>
                </li>
                </ul>
            </div>
    </nav>
    <div class="container">
        {% block crp_content %} {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>

{% endblock %}
