<!--add data modal - insert SFP-->
<div
ref="switch_SFPaddData"
class="modal fade"
:class="{ show: switch_activeSFPAddData, 'd-block': switch_activeSFPAddData }"
tabindex="-1"
role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
	<h5 class="modal-title">Insert SFP</h5>
	<button
	  type="button"
	  class="close"
	  data-dismiss="modal"
	  aria-label="Close"
	  @click="switch_toggleSFPAddData">
	  <span aria-hidden="true">&times;</span>
	</button>
  </div>
  <div class="modal-body">
	<form>
	  <div class="mb-3">
		<label for="addModel" class="form-label">SFP Type:</label>
		 <select type="text" class="form-control" id="addModel" v-model="sfpTypeSelected" placeholder="Select an SFP type">
			  <option disabled>Please select an SFP type</option>
			  <option v-for="t in sfp_types" v-bind:value="t.value">{%raw%}{{t.name}}{%endraw%}</option>
	  	</select>
	  </div>

	  <div class="btn-group" role="group">
		<button
		  type="button"
		  class="btn btn-primary btn-sm"
		  @click="switch_handleSFPAddSubmit">
		  Submit
		</button>
		<button
		  type="button"
		  class="btn btn-danger btn-sm"
		  @click="switch_toggleSFPAddData">
		  Cancel
		</button>
	  </div>
	</form>
  </div>
</div>
</div>
</div>
<div v-if="switch_activeSFPAddData" class="modal-backdrop fade show"></div>
