<!--add data modal - new switch-->
<div
ref="switch_addData"
class="modal fade"
:class="{ show: switch_activeAddData, 'd-block': switch_activeAddData }"
tabindex="-1"
role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
	<h5 class="modal-title">Add a new switch</h5>
	<button
	  type="button"
	  class="close"
	  data-dismiss="modal"
	  aria-label="Close"
	  @click="switch_toggleAddData">
	  <span aria-hidden="true">&times;</span>
	</button>
  </div>
  <div class="modal-body">
	<form>
	  <div class="mb-3">
		<label for="addModel" class="form-label">Switch Model:</label>
		 <select type="text" class="form-control" id="addModel" v-model="switch_addData.model" placeholder="Select a switch model">
			  <option disabled>Please select a valid switch model number from the list</option>
			  <option v-for="s in switch_models_filtered_data" v-bind:value="s.model">{%raw%}{{s.model}}-{{s.description}}{%endraw%}</option>
	  	</select>
	  </div>

	  <div class="mb-3">
		<label for="addSerial" class="form-label">Switch Serial#:</label>
		<input
		  type="text"
		  class="form-control"
		  id="addSerial"
		  v-model="switch_addData.serial"
		  placeholder="Enter a serial# for this switch."/>
	  </div>

	  <div class="mb-3">
		<label for="addMac" class="form-label">Switch MAC Address:</label>
		<input
		  type="text"
		  class="form-control"
		  id="addMac"
		  v-model="switch_addData.MAC"
		  placeholder="Enter a MAC address for this switch."/>
	  </div>

	  <div class="btn-group" role="group">
		<button
		  type="button"
		  class="btn btn-primary btn-sm"
		  @click="switch_handleAddSubmit">
		  Submit
		</button>
		<button
		  type="button"
		  class="btn btn-danger btn-sm"
		  @click="switch_handleAddReset">
		  Reset
		</button>
	  </div>
	</form>
  </div>
</div>
</div>
</div>
<div v-if="switch_activeAddData" class="modal-backdrop fade show"></div>
