{% extends 'menu.html' %}
{% block content %}
<style>
	/* css for wider columns so they don't wrap*/
	.wider-vlan {
		min-width: 95px;
	}
	.wider-dhcp_snoop {
		min-width: 105px;
	}
	.wider-client-track {
		min-width: 100px;
	}
	.wider-ip-acl-in {
		min-width: 65px;
	}
	.wider-ip-acl-out {
		min-width: 68px;
	}
	.wider-mac-acl-in {
		min-width: 90px;
	}
	.wider-mac-acl-out {
		min-width: 90px;
	}
  </style>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>

<template id="gridTemplate">
  <div id="alert" class="alert fixed-top" style="margin-top: 50px; padding: 10px; z-index: 1" role="alert">
	  <svg id="message_box_icon" class="bi flex-shrink-0 me-2" width="24" height="24" role="img"><use xlink:href=""></svg>{%raw%}{{message}}{%endraw%}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>Site VLANs</h1>
        <hr><br><br>
		<select id="siteSelect" @change="get_data()">
			{% for site in sites %}<option value="{{site['site']}}">{{site["site"]}}{% endfor%}
		</select>
		<button type="button" @click="toggleAddData" class="btn btn-success btn-sm">Add VLAN</button>
		<button v-if="filtered_data.length==0" style="margin-left: 10px" type="button" @click="site_vlans_toggleModalImport"
			class="btn btn-success btn-sm gmiDkBlue">Import VLANs</button>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
			  <th v-for="(c, index) in cols" :key=index scope="col" :class="{'wider-vlan': c.name === 'vlan',
			  																'wider-dhcp_snoop': c.name === 'dhcp_snooping',
																			'wider-client-track': c.name === 'client_tracking',
																			'wider-ip-acl-in': c.name === 'acl_in_ip',
																			'wider-ip-acl-out': c.name === 'acl_out_ip',
																			'wider-mac-acl-in': c.name === 'acl_in_mac',
																			'wider-mac-acl-out': c.name === 'acl_out_mac'}">
					<div>{%raw%}{{c.text}}{%endraw%}
					  <template v-if="sort.column === c.name && sort.by === 'asc'">
						<i class="fa-solid fa-sort-up" @click="sort={column: c.name, by: 'desc'}"></i>
					  </template>
					  <template v-else-if="sort.column === c.name && sort.by === 'desc'">
						<i class="fa-solid fa-sort-down" @click="sort={column: c.name, by: ''}"></i>
					  </template>
					  <template v-else>
						<i class="fa-solid fa-sort" @click="sort={column: c.name, by: 'asc'}"></i>
					  </template>
					</div>
				   </div>
				  </div>
				</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="text-nowrap">
		  <style>
				.r-1 { background-color: #cce0ff; }
				.r-2 { background-color: #c7ffdb; }
				.r-3 { background-color: #99afff; }
				.r-4 { background-color: #ffd599; }
				.r-5 { background-color: #ff6600; }
				.r-6 { background-color: #ffd7d4; }
		  </style>
		  <tr v-for="(row, index) in filtered_data" :key="index" :class="'r-' + row.type">
			  <td>{%raw%}{{row.vlan}}{%endraw%}</td>
			  <td>{%raw%}{{row.name}}{%endraw%}</td>
			  <td>{%raw%}{{zoneText[row.type]}}{%endraw%}</td>
			  <td>{%raw%}{{shutdownText[row.shutdown]}}{%endraw%}</td>
			  <td>{%raw%}{{enableDisableText[row.voice]}}{%endraw%}</td>
			  <td>{%raw%}{{igmpText[row.igmp]}}{%endraw%}</td>
			  <td>{%raw%}{{enableDisableText[row.dhcp_snooping]}}{%endraw%}</td>
			  <td>{%raw%}{{enableDisableText[row.client_tracking]}}{%endraw%}</td>
			  <td><template v-if="row.acl_in_ip!=''"><i class='fa-solid fa-circle-check'></i></template></td>
			  <td><template v-if="row.acl_out_ip!=''"><i class='fa-solid fa-circle-check'></i></template></td>
			  <td><template v-if="row.acl_in_mac!=''"><i class='fa-solid fa-circle-check'></i></template></td>
			  <td><template v-if="row.acl_out_mac!=''"><i class='fa-solid fa-circle-check'></i></template></td>
		  <td>
			<div class="btn-group" role="group">
			  <button type="button" @click="toggleEditData (row)" class="btn btn-warning btn-sm">Update</button>
			  <button type="button" @click="toggleCloneData (row)" class="btn btn-success btn-sm">Clone</button>
			  <button type="button" @click="are_you_sure(handleDelete, row)" class="btn btn-danger btn-sm">Delete</button>
			</div>
		  </td>
		</tr>
	  </tbody>
	</table>
  </div>
</div>

<!--add data modal -->
<div
ref="addData"
class="modal fade"
:class="{ show: activeAddData, 'd-block': activeAddData }"
tabindex="-1"
role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
	<h5 class="modal-title">Add a new VLAN</h5>
	<button
	  type="button"
	  class="close"
	  data-dismiss="modal"
	  aria-label="Close"
	  @click="toggleAddData">
	  <span aria-hidden="true">&times;</span>
	</button>
  </div>
  <div class="modal-body">
	<form>
	  <div class="mb-3">
		<label for="addVlan" class="form-label">VLAN ID:</label>
<!--            <input
		  type="text"
		  class="form-control"
		  id="addVlan"
		  v-model="addData.vlan"
		  placeholder="Enter new VLAN ID">
-->
	  <select type="text" class="form-select" id="addVlan" v-model="addData.vlan" placeholder="Select new VLAN ID">
			  <option value="" disabled>Please select a VLAN number from the Global VLAN List</option>
			  {% for vlan in vlans %}<option value="{{vlan['vlan']}}">{{vlan['vlan']}}-{{vlan["name"]}}</option>{% endfor%}
	  </select>
	  </div>

	  <div class="mb-3">
		<label for="addName" class="form-label">Name:</label>
		<input
		  type="text"
		  minlength="64"
		  class="form-control"
		  id="addName"
		  v-model="addData.name"
		  placeholder="Enter a name for this VLAN.">
	  </div>

	  <div class="mb-3">
		  <label for="addType" class="form-label">Type:</label>
		<select
		  type="text"
		  class="form-select"
		  id="addType"
		  v-model="addData.type"
		  placeholder="Select the type of VLAN it is.">
		  <option value="" disabled>Please select a VLAN zone type</option>
		  <option value=1>Default/All</option>
		  <option value=2>Enterprise</option>
		  <option value=3>ESX TOR</option>
		  <option value=4>Manufacturing</option>
		  <option value=5>FW Stack</option>
		  <option value=6>WAN POD</option>
	  </select>
	  </div>

	  <div class="mb-3">
		  <label for="addShut" class="form-label">Shutdown:</label>
		<select
		  type="text"
		  class="form-select"
		  id="addShut"
		  v-model="addData.shutdown"
		  placeholder="Is this VLAN shutdown">
		  <option value="" disabled>Please select if this VLAN is shutdown</option>
		 <!-- default should be 0--> 
		  <option value=1>Shutdown</option>
		  <option value=0>No Shutdown</option>
	  </select>
	  </div>

	  <div class="mb-3">
		  <label for="addVoice" class="form-label">Voice:</label>
		<select
		  type="text"
		  class="form-select"
		  id="addVoice"
		  v-model="addData.voice"
		  placeholder="Is this a voice VLAN">
		  <option value="" disabled>Please select if this is a voice VLAN</option>
		 <!-- default should be 0--> 
		  <option value=1>Yes</option>
		  <option value=0>No</option>
	  </select>
	  </div>

	  <div class="mb-3">
		  <label for="addIGMP" class="form-label">IGMP Snooping:</label>
		<select
		  type="text"
		  class="form-select"
		  id="addIGMP"
		  v-model="addData.igmp"
		  placeholder="Is IGMP Snooping Enabled">
		  <option value="" disabled>Please select an IGMP Snooping Setting</option>
		  <!-- default should be 0-->
		  <option value=0>Disabled</option>
		  <option value=2>Version 2</option>
		  <option value=3>Version 3</option>
	  </select>
	  </div>

	  <div class="mb-3">
		  <label for="addDHCP" class="form-label">DHCP Snooping:</label>
		<select
		  type="text"
		  class="form-select"
		  id="addDHCP"
		  v-model="addData.dhcp_snooping"
		  placeholder="Is DHCP snooping enabled">
		  <option value="" disabled>Please select if this VLAN has DHCP Snooping</option>
		  <!-- default should be 1-->
		  <option value=0>Disabled</option>
		  <option value=1>Enabled</option>
	  </select>
	  </div>

	  <div class="mb-3">
		  <label for="addClient" class="form-label">Client Tracking:</label>
		<select
		  type="text"
		  class="form-select"
		  id="addShut"
		  v-model="addData.client_tracking"
		  placeholder="Is this client tracking enabled?">
		  <option value="" disabled>Please select if client tracking is enabled</option>
		 <!-- default should be 1--> 
		  <option value=0>Disabled</option>
		  <option value=1>Enabled</option>
	  </select>
	  </div>

	  <div class="mb-3">
		  <label for="addIPACLin" class="form-label">IP ACL (in):</label>
		<input
		  type="text"
		  class="form-control"
		  id="addIPACLin"
		  v-model="addData.acl_in_ip"
		  placeholder="IP access list on VLAN at L2 in IN direction">
	  </div>

	  <div class="mb-3">
		  <label for="addIPACLout" class="form-label">IP ACL (out):</label>
		<input
		  type="text"
		  class="form-control"
		  id="addIPACLout"
		  v-model="addData.acl_out_ip"
		  placeholder="IP access list on VLAN at L2 in OUT direction">
	  </div>

	  <div class="mb-3">
		  <label for="addMACACLin" class="form-label">MAC ACL (in):</label>
		<input
		  type="text"
		  class="form-control"
		  id="addMACACLin"
		  v-model="addData.acl_in_mac"
		  placeholder="MAC access list on VLAN at L2 in IN direction">
	  </div>

	  <div class="mb-3">
		  <label for="addMACACLin" class="form-label">MAC ACL (out):</label>
		<input
		  type="text"
		  class="form-control"
		  id="addMACACLout"
		  v-model="addData.acl_out_mac"
		  placeholder="MAC access list on VLAN at L2 in OUT direction">
	  </div>

	  <div class="btn-group" role="group">
		<button
		  type="button"
		  class="btn btn-primary btn-sm"
		  @click="handleAddSubmit">
		  Submit
		</button>
		<button
		  type="button"
		  class="btn btn-danger btn-sm"
		  @click="handleAddReset">
		  Reset
		</button>
	  </div>
	</form>
  </div>
</div>
</div>
</div>
<div v-if="activeAddData" class="modal-backdrop fade show"></div>

<!-- edit data modal -->
<div
ref="editData"
class="modal fade"
:class="{ show: activeEditData, 'd-block': activeEditData }"
tabindex="-1"
role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
	<h5 class="modal-title">Edit VLAN</h5>
	<button
	  type="button"
	  class="close"
	  data-dismiss="modal"
	  aria-label="Close"
	  @click="toggleEditData">
	  <span aria-hidden="true">&times;</span>
	</button>
  </div>
  <div class="modal-body">
	<form>
	  <div class="mb-3">
		<label for="editVlan" class="form-label">VLAN ID:</label>
	  <select type="text" class="form-select" id="editVlan" v-model="editData.vlan" placeholder="Select new VLAN ID">
			  <option value="" disabled>Please select a VLAN number from the Global VLAN List</option>
			  {% for vlan in vlans %}<option value="{{vlan['vlan']}}">{{vlan['vlan']}}-{{vlan["name"]}}</option>{% endfor%}
	  </select>
	<!--	<input
		  type="text"
		  class="form-control"
		  id="editVlan"
		  v-model="editData.vlan"
		  placeholder="Enter new VLAN ID">
	-->
	  </div>

	  <div class="mb-3">
		<label for="editName" class="form-label">Name:</label>
		<input
		  type="text"
		  minlength="64"
		  class="form-control"
		  id="editName"
		  v-model="editData.name"
		  placeholder="Enter a name for this VLAN.">
	  </div>

	  <div class="mb-3">
		  <label for="editType" class="form-label">Type:</label>
		<select
		  type="text"
		  class="form-select"
		  id="editType"
		  v-model="editData.type"
		  placeholder="Select the type of VLAN it is.">
		  <option value=1>Default/All</option>
		  <option value=2>Enterprise</option>
		  <option value=3>ESX TOR</option>
		  <option value=4>Manufacturing</option>
		  <option value=5>FW Stack</option>
		  <option value=6>WAN POD</option>
	  </select>
	  </div>

	  <div class="mb-3">
		  <label for="editShut" class="form-label">Shutdown:</label>
		<select
		  type="text"
		  class="form-select"
		  id="editShut"
		  v-model="editData.shutdown"
		  placeholder="Is this VLAN shutdown">
		  <option value=true>Shutdown</option>
		  <option value=false>No Shutdown</option>
	  </select>
	  </div>

	  <div class="mb-3">
		  <label for="editVoice" class="form-label">Voice:</label>
		<select
		  type="text"
		  class="form-select"
		  id="editVoice"
		  v-model="editData.voice"
		  placeholder="Is this a voice VLAN">
		  <option value=true>Yes</option>
		  <option value=false>No</option>
	  </select>
	  </div>

	  <div class="mb-3">
		  <label for="editIGMP" class="form-label">IGMP Snooping:</label>
		<select
		  type="text"
		  class="form-select"
		  id="editIGMP"
		  v-model="editData.igmp"
		  placeholder="Is IGMP Snooping Enabled">
		  <option value=0>Disabled</option>
		  <option value=2>Version 2</option>
		  <option value=3>Version 3</option>
	  </select>
	  </div>

	  <div class="mb-3">
		  <label for="editDHCP" class="form-label">DHCP Snooping:</label>
		<select
		  type="text"
		  class="form-select"
		  id="editDHCP"
		  v-model="editData.dhcp_snooping"
		  placeholder="Is DHCP snooping enabled">
		  <option value=false>Disabled</option>
		  <option value=true>Enabled</option>
	  </select>
	  </div>

	  <div class="mb-3">
		  <label for="editClient" class="form-label">Client Tracking:</label>
		<select
		  type="text"
		  class="form-select"
		  id="editShut"
		  v-model="editData.client_tracking"
		  placeholder="Is this client tracking enabled?">
		  <option value=false>Disabled</option>
		  <option value=true>Enabled</option>
	  </select>
	  </div>

	  <div class="mb-3">
		  <label for="editIPACLin" class="form-label">IP ACL (in):</label>
		<input
		  type="text"
		  class="form-control"
		  id="editIPACLin"
		  v-model="editData.acl_in_ip"
		  placeholder="IP access list on VLAN at L2 in IN direction">
	  </div>

	  <div class="mb-3">
		  <label for="editIPACLout" class="form-label">IP ACL (out):</label>
		<input
		  type="text"
		  class="form-control"
		  id="editIPACLout"
		  v-model="editData.acl_out_ip"
		  placeholder="IP access list on VLAN at L2 in OUT direction">
	  </div>

	  <div class="mb-3">
		  <label for="editMACACLin" class="form-label">MAC ACL (in):</label>
		<input
		  type="text"
		  class="form-control"
		  id="editMACACLin"
		  v-model="editData.acl_in_mac"
		  placeholder="MAC access list on VLAN at L2 in IN direction">
	  </div>

	  <div class="mb-3">
		  <label for="editMACACLin" class="form-label">MAC ACL (out):</label>
		<input
		  type="text"
		  class="form-control"
		  id="editMACACLout"
		  v-model="editData.acl_out_mac"
		  placeholder="MAC access list on VLAN at L2 in OUT direction">
	  </div>

	  <div class="btn-group" role="group">
		<button
		  type="button"
		  class="btn btn-primary btn-sm"
		  @click="handleEditSubmit">
		  Submit
		</button>
		<button
		  type="button"
		  class="btn btn-danger btn-sm"
		  @click="handleEditReset">
		  Reset
		</button>
	  </div>
	</form>
  </div>
</div>
</div>
</div>
<div v-if="activeEditData" class="modal-backdrop fade show"></div>

<!-- clone data modal -->
<div
ref="cloneData"
class="modal fade"
:class="{ show: activeCloneData, 'd-block': activeCloneData }"
tabindex="-1"
role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
	<h5 class="modal-title">Clone VLAN</h5>
	<button
	  type="button"
	  class="close"
	  data-dismiss="modal"
	  aria-label="Close"
	  @click="toggleCloneData">
	  <span aria-hidden="true">&times;</span>
	</button>
  </div>
  <div class="modal-body">
	<form>

	  <div class="mb-3">
		  <label for="editType" class="form-label">Clone to Zone Type:</label>
		<select
		  type="text"
		  class="form-select"
		  id="editType"
		  v-model="cloneData.type"
		  placeholder="Select the type of VLAN it is.">
		  <option value=1>Default/All</option>
		  <option value=2>Enterprise</option>
		  <option value=3>ESX TOR</option>
		  <option value=4>Manufacturing</option>
		  <option value=5>FW Stack</option>
		  <option value=6>WAN POD</option>
	  </select>
	  </div>

	  <div class="btn-group" role="group">
		<button
		  type="button"
		  class="btn btn-primary btn-sm"
		  @click="handleCloneSubmit">
		  Submit
		</button>
		<button
		  type="button"
		  class="btn btn-danger btn-sm"
		  @click="handleCloneReset">
		  Reset
		</button>
	  </div>
	</form>
  </div>
</div>
</div>
</div>
<div v-if="activeCloneData" class="modal-backdrop fade show"></div>

{% include 'vue_site_vlans_modal_import.html' %}
{% include 'vue_loading.html' %}
{% include "vue_utility_modal_are_you_sure.html" %}

</div>
</template>

<script type="module">
import { createApp } from 'https://unpkg.com/petite-vue?module'
import 'https://unpkg.com/axios/dist/axios.min.js'

const endpoint = "/rest/v1/config/siteVlan";
const legacyVlanEndpoint = "/rest/v1/config/switch/{}/vlans"

function app() {
return {
  $template: '#gridTemplate',
  areYouSure: {title: 'WARNING - DATA WILL BE REMOVED', body: 'This action will delete data.  Are you sure?', button:'Yes, proceed.', action:undefined},
  cols: [
	{name: 'vlan', text: 'VLAN ID'},
	{name: 'name', text: 'Name'},
	{name: 'type', text: 'Zone'},
	{name: 'shutdown', text: 'Interface Status'},
	{name: 'voice', text: 'Voice'},
	{name: 'igmp', text: 'IGMP'},
	{name: 'dhcp_snooping', text: 'DHCP Snooping'},
	{name: 'client_tracking', text: 'Client Tracking'},
	{name: 'acl_in_ip', text: 'IP ACL (in)'},
	{name: 'acl_out_ip', text: 'IP ACL (out)'},
	{name: 'acl_in_mac', text: 'MAC ACL (in)'},
	{name: 'acl_out_mac', text: 'MAC ACL (out)'}
  ],
  importCols: [
  	{name: 'vlan_id', text: 'VLAN ID'},
	{name: 'name', text: 'Name'},
	{name: 'type', text: 'Zone'}
	],
  site_vlans_activeImport: false,
  data: [],
  import_vlans: [],
  sort: {
	  column: 'vlan_id',
	  by: 'asc'
  },
  wanpod_vlans: [
 	 {name: 'WAN POD - SilverPeak Device', vlan_id: '1', type: 6},
 	 {name: 'WAN POD - CX Bootstrap', vlan_id: '2', type: 6},
 	 {name: 'WAN POD - Primary MPLS', vlan_id: '3', type: 6},
 	 {name: 'WAN POD - LTE 1', vlan_id: '4', type: 6},
 	 {name: 'WAN POD - DIA INET', vlan_id: '5', type: 6},
 	 {name: 'WAN POD - Future', vlan_id: '6', type: 6},
 	 {name: 'WAN POD - Future', vlan_id: '7', type: 6},
 	 {name: 'WAN POD - Future', vlan_id: '8', type: 6},
 	 {name: 'WAN POD - Future', vlan_id: '9', type: 6},
 	 {name: 'WAN POD - Future', vlan_id: '10', type: 6},
 	 {name: 'WAN POD - Future', vlan_id: '11', type: 6},
 	 {name: 'WAN POD - LTE 2', vlan_id: '13', type: 6},
 	 {name: 'WAN POD - Satellite', vlan_id: '14', type: 6},
 	 {name: 'WAN POD - LTE 4', vlan_id: '15', type: 6},
  ],
  selectedSite: "",
  message_class: "none",
  message: "",
  message_icon: "",
  activeAddData: false,
  activeEditData: false,
  activeCloneData: false,
  data_is_loading: false,
  addData: { vlan: '', name: '', type: '', shutdown: '', voice: '', igmp: '', dhcp_snooping: '', client_tracking: '', acl_in_ip: '', acl_out_ip: '', acl_in_mac:'', acl_out_mac:'' },
  editData: { vlan: '', name: '',type: '', shutdown: '', voice: '', igmp: '', dchp_snooping: '', client_tracking: '', acl_in_ip: '', acl_out_ip: '', acl_in_mac:'', acl_out_mac:'',  id: ''},
  cloneData: { type: '', id: '' },
  shutdownText: { true: "Enabled", false: "Enabled" },
  zoneText: { 1: "Default/All", 2: "Enterprise", 3:"ESX TOR", 4:"Manufacturing", 5:"FW Stack", 6:"WAN POD"},
  enableDisableText: { false: "Disabled", true: "Enabled" },
  igmpText: { 0: "Disabled", 2: "V2", 3: "V3" },
  deleteData: { id: '' },
  add_data(payload) {
	const path = endpoint;
	axios.post(path, payload).then(() => { this.get_data(); }).catch((error) => {console.log(error); this.get_data(); });
	  },
	  message_alert(message_class, message){
		  this.message_class=message_class;
		  this.message=message;
		  switch (message_class) {
			case 'alert-success': this.message_icon = "#check-circle-fill"; break;
			case 'alert-info' : this.message_icon = "#info-fill"; break;
			case 'alert-warning': this.message_icon = "#exclamation-triangle-fill"; break;
		    case 'alert-danger' : this.message_icon = "#exclamation-triangle-fill"; break;
		  }
		  this.alert_box = document.getElementById("alert");
		  this.message_box_icon = document.getElementById("message_box_icon");
		  this.message_box_icon.getElementsByTagName("use")[0].setAttributeNS('http://www.w3.org/1999/xlink', 'href', this.message_icon);
		  this.alert_box.classList = ("alert fixed-top");
		  this.alert_box.classList.add(this.message_class);
	  },
	  edit_data(payload) {
		const path = endpoint+"/"+this.editData.id
		axios.put(path, payload).then(() => { this.get_data(); }).catch((error) => {console.log(error); this.get_data(); });
		this.message_alert("alert-success","You have updated the record successfully");
	  },
	  delete_data(payload) {
		  const path = endpoint+"/"+this.deleteData.id
		  axios.delete(path).then(() => { this.get_data(); }).catch((error) => {console.log(error); this.get_data(); });
		  this.message_alert("alert-danger","You have deleted record "+this.deleteData.id)
	  },
      toggleDataIsLoading() {
        const body = document.querySelector('body');
        this.data_is_loading = !this.data_is_loading;
        if (this.data_is_loading) {
            body.classList.add('modal-open');
        } else {
            body.classList.remove('modal-open');
        }
      },
	  async get_import_data() {
		this.import_vlans = [];
		const path = legacyVlanEndpoint.format("{}-RTR-HPSW1".format(this.selectedSite));
		this.toggleDataIsLoading();
		let success = false;
		try {
			const trigger_res = await fetch(path, { method: 'GET' });
			if (!trigger_res.ok) {
				this.site_vlans_toggleModalImport();
				this.toggleDataIsLoading();
				this.message_alert("alert-danger", "There was an error retrieving the records from the remote core. Please try again.");
				return;
			}
			const data = await trigger_res.json();
			console.log("Successfully triggered the import of VLANs from the remote core.");
			if (data.vlan_element && Array.isArray(data.vlan_element) && data.vlan_element.length > 0) {
				this.import_vlans = data.vlan_element;
				success = true;
			} else {
				const polling_path = `/rest/v1/config/fetchvlans/${this.selectedSite}-RTR-HPSW1`;
				console.log(`Polling path: ${polling_path}`);
				let retries = 0;
				while (retries < 5) {
					const res = await fetch(polling_path);
					if (res.ok) {
						const data = await res.json();
						console.log(data);
						if (data.result_vlan && Array.isArray(data.result_vlan.vlan_element) && data.result_vlan.vlan_element.length > 0) {
							this.import_vlans = data.result_vlan.vlan_element;
							success = true;
							break;
						}
					}
					retries++;
					console.log(`Retrying in 1 seconds...`);
					await new Promise(r => setTimeout(r, 1000));
				}
			}
			if (!success) {
				throw new Error("Failed to retrieve VLANs after multiple retries.");
			}
			this.toggleDataIsLoading();
			for (let i = 0; i < this.import_vlans.length; i++) {
				this.import_vlans[i]["type"] = 2; // 2 sets default zone type to Enterprise
			}
			for (let i = 0; i < this.wanpod_vlans.length; i++) {
				this.import_vlans.push(this.wanpod_vlans[i]);
			}
			console.error(this.import_vlans);
		} catch (error) {
			console.error(error);
			this.toggleDataIsLoading();
			this.site_vlans_toggleModalImport();
			this.message_alert("alert-danger", "There was an error retrieving the records from the remote core. Please try again.");
		}
	  },
	  get filtered_import_data() {
		let new_data = this.import_vlans;
	    if (new_data[0] != "undefined") {
		if (typeof new_data != "undefined" && new_data.length>0) {
			if (this.sort.by == 'asc') {
				for (const[k,v] of Object.entries(new_data[0])){
					if (this.sort.column == k) {
						new_data.sort ( (a,b) => (a[k] > b[k]) ? 1: -1);
					}
				}
			} else {
				for (const[k,v] of Object.entries(new_data[0])){
					if (this.sort.column == k) {
						new_data.sort ( (a,b) => (a[k] < b[k]) ? 1: -1);
					}
				}
			}
		}
		return new_data;
		}
	  },
      get_data() {
		const path = endpoint;
		axios.get(path).then((res) => {
			this.data = return_result(res.data);
		}).catch((error) => {console.error(error);})
      },
	  get filtered_data() {
		let new_data = this.data;
		if (typeof new_data.filter === "function") {
			new_data = new_data.filter(row => row.site == document.getElementById('siteSelect').value);
		}
		if (typeof new_data[0] != "undefined") {
		if (this.sort.by == 'asc') {
			for (const[k,v] of Object.entries(new_data[0])){
				if (this.sort.column == k) {
					new_data.sort ( (a,b) => (a[k] > b[k]) ? 1: -1);
				}
			}
		} else {
			for (const[k,v] of Object.entries(new_data[0])){
				if (this.sort.column == k) {
					new_data.sort ( (a,b) => (a[k] < b[k]) ? 1: -1);
				}
			}
		}
		}
		return new_data;
	  },
      handleAddReset() {
		this.initForm()
	  },
      handleAddSubmit() {
		this.toggleAddData();
		const payload = {
			site: document.getElementById('siteSelect').value,
			vlan: this.addData.vlan,
			name: this.addData.name,
			zone_type: this.addData.type,
			shutdown: this.addData.shutdown,
			voice: this.addData.voice,
			igmp: this.addData.igmp,
			dhcp_snooping: this.addData.dhcp_snooping,
			client_tracking: this.addData.client_tracking,
			acl_in_ip: this.addData.acl_in_ip,
			acl_out_ip: this.addData.acl_out_ip,
			acl_in_mac: this.addData.acl_in_mac,
			acl_out_mac: this.addData.acl_out_mac
		}	
		this.add_data(payload);
		this.initForm();
		this.message_alert("alert-success","You have added a new record to the database.");
	  },
	  handleEditCancel() {
		this.toggleEditData()
	  },
      handleEditSubmit() {
		this.toggleEditData();
		const payload = {
			id: this.editData.id,
			site: document.getElementById('siteSelect').value,
			vlan: this.editData.vlan,
			name: this.editData.name,
			zone_type: this.editData.type,
			shutdown: this.editData.shutdown,
			voice: this.editData.voice,
			igmp: this.editData.igmp,
			dhcp_snooping: this.editData.dhcp_snooping,
			client_tracking: this.editData.client_tracking,
			acl_in_ip: this.editData.acl_in_ip,
			acl_out_ip: this.editData.acl_out_ip,
			acl_in_mac: this.editData.acl_in_mac,
			acl_out_mac: this.editData.acl_out_mac
		}
		this.edit_data(payload);
      },
	  handleCloneCancel(){
		  this.toggleCloneData();
	  },
	  handleCloneSubmit(){
		const payload = {
			site: document.getElementById('siteSelect').value,
			vlan: this.cloneData.vlan,
			name: this.cloneData.name,
			zone_type: this.cloneData.type,
			shutdown: this.cloneData.shutdown,
			voice: this.cloneData.voice,
			igmp: this.cloneData.igmp,
			dhcp_snooping: this.cloneData.dhcp_snooping,
			client_tracking: this.cloneData.client_tracking,
			acl_in_ip: this.cloneData.acl_in_ip,
			acl_out_ip: this.cloneData.acl_out_ip,
			acl_in_mac: this.cloneData.acl_in_mac,
			acl_out_mac: this.cloneData.acl_out_mac
		}
		this.add_data(payload);
	  },
	  handleDelete(id) {
		if (id) {
			this.deleteData.id = id.id;
			this.delete_data();
		}
	  },
	  initForm() {
      	this.addData = { vlan: '', name: '', type: '', shutdown: '', voice: '', igmp: '', dhcp_snooping: '', client_tracking: '', acl_in_ip: '', acl_out_ip: '', acl_in_mac:'', acl_out_mac:'' }
	  },
      toggleAddData() {
        const body = document.querySelector('body');
        this.activeAddData = !this.activeAddData;
        if (this.activeAddData) {
          body.classList.add('modal-open');
        } else {
          body.classList.remove('modal-open');
        }
      },
	  toggleEditData(id) {
		if (id) {
			this.editData = id;
		}
		const body = document.querySelector('body');
		this.activeEditData = !this.activeEditData;
		if (this.activeEditData) {
			body.classList.add('modal-open');
		} else {
			body.classList.remove('modal-open');
		}
	  },
	  site_vlans_toggleModalImport() {
		const body = document.querySelector('body');
		this.site_vlans_activeImport = !this.site_vlans_activeImport;
		if (this.site_vlans_activeImport) {
			this.selectedSite = document.getElementById("siteSelect").value;
			this.get_import_data();
			body.classList.add('modal-open');
		} else {
			body.classList.remove('modal-open');
		}
	  },
	  site_vlans_handleSave() {
		let promises=[]
		for (var i=0; i<this.import_vlans.length;i++) {
	        let payload = {
    	        site: this.selectedSite,
        	    vlan: this.import_vlans[i].vlan_id,
            	name: this.import_vlans[i].name,
	            zone_type: this.import_vlans[i]["type"],
    	        shutdown: false,
        	    voice: false,
	            igmp: 2,
    	        dhcp_snooping: false,
        	    client_tracking: false,
	            acl_in_ip: "",
    	        acl_out_ip: "",
        	    acl_in_mac: "",
	            acl_out_mac: ""
    	    }
	        promises.push({"path":endpoint, "type":axios.post, "payload":payload});
		}
		console.error(promises);
		Promise.all(promises.map((p)=> p.type(p.path, p.payload))).then((response) => {
			console.log(response);
            location.reload();
        }).catch((error) => {
			console.log(error);
            location.reload();
        });
		
		console.error(promises);
	  },
	  toggleCloneData(id) {
		if (id) {
			this.cloneData = id;
		}
		const body = document.querySelector('body');
		this.activeCloneData = !this.activeCloneData;
		if (this.activeCloneData) {
			body.classList.add('modal-open');
		} else {
			body.classList.remove('modal-open');
		}
	  },
	  are_you_sure(action,id){
		this.areYouSure.displayed=true
        var el = document.getElementById('modalAreYouSure');
        var bel = new bootstrap.Modal(el);
        bel.show();
        this.areYouSure.active = bel;
        this.areYouSure.action=action
        this.areYouSure.id=id
	},
	dismiss_are_you_sure(value){
        if (this.areYouSure.displayed) {
            this.areYouSure.result = value;
            if (value) {
                this.areYouSure.action(this.areYouSure.id)
            }
            this.areYouSure.displayed=false;
            this.areYouSure.active.hide();
        }
	  },
	  mounted() {
		this.initForm();
		this.get_data();
	  }
    }
  }

  createApp({app}).mount()
</script>

<div v-scope="app()" @vue:mounted="mounted"></div>

{% endblock %}
